.page {
  display: grid;
  justify-content: center;
  align-items: center;
  &__container {
    display: grid;
    grid-template-areas:
      "1 2 3 4"
      "5 6 7 8";
    justify-content: space-between;
    flex-wrap: wrap;
    width: 944px;
  }
}
